
* {
	box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	margin: 0;
    min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #000000;
}

a {
	text-decoration: none;
}

footer a{
    color: #ffffff;
}

.logo {
	margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}
.logo-footer {
    color: #ffffff;
	margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.footer .logo a,
.footer .main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
    font-size: 12px;
    font-weight: 700;
    line-height: 42.73px;
	color: #000;
}

.main-nav a:hover {
    border-bottom: 1px solid red;
}
.footer .main-nav a:hover {
    border-bottom: 1px solid red;
    color:#fff;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #ffffff;
    background-color: #fff;    
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.footer {
    
    flex: 0 0 auto;
	padding-top: .5em;
    padding-bottom: 0px;
    background-color: #222222;    
}
.footer .main-nav a {

	text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 42.73px;
	color: grey;
}
/* .flex-container {
    display: flex;
    justify-content: center;
  }
  
  .flex-container > div {
    background-color: #fff;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 75px;
  }
.row {
    display: -webkit-flex;
    display: flex;
}
.column {
    border-top: 1px solid #000;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
} 

.colummn {
    float: left;
    width: 50%;
    height: auto;
    border: 1px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}  .column-1{
    width: 50%;
    height: auto;
    background-image: url('../img/background-image.png');
    background-position: 41.6%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;
}
.column-2{
    width: 50%;
    float: left;
} */

.right-text{
    position: relative;
    margin-left: 300px;
    width: 300px;
    font-family: 'Open Sans', Extrabold;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.offer > h2{      
    text-align: center;  
    flex-direction: column;
	align-items: center;
    color: #ffffff;
    font-family: 'Open Sans', Extrabold;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}
.text > h3{
    position: relative;
    flex-direction: column;
	align-items: center;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
}
.button-1{
    background-color: red;
    text-transform: uppercase;
    color: #fff;
    margin-left: 10em;
    border: none;
    width: 162px;
    height: 40px;
    align-items: center;
}
label{
    text-transform: uppercase;
}

input, select {
    width: 25%;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input{
    padding: 16px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    background-color: #fff;
}
select {
    padding: 16px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    background-color: #fff;
}
textarea{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    width: 50%;
}



.flexbox-container{
	display: flex;
    width: 100%;

  flex-wrap: wrap;
    
}

.leftColumn{
	order: 1;
    flex: 1;
    background: url(../img/background-image.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  flex-basis: auto;
  padding: .5rem;
  min-height: 666px;
}

.main{
	order: 1;
	flex: 5;
	background-color: #CE9B64;
  padding: .5rem;
}

.box1, .box2 {
  min-height: 100%;
	padding: 1em;
}

/* mobile layout */
@media (max-width: 480px){
	.container{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
  
		width: 100%;
  
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
    -ms-flex-orient: vertical;
    -webkit-orient: vertical;
    orient: vertical;
	}
	.box2{
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;	}
	.box1{
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
    }
    .footer,
	.main-nav {
		display: flex;
	}
	.footer {
		flex-direction: column;
		align-items: center;
    	.footer{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	    }
	}

}



@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}



@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
    }
    .footer {
		flex-direction: row;
		justify-content: space-around;
    }
}
