
* , html, body{
	box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	margin: 0;
    min-height: 100vh;
}
.fullPage{
    width: 100%;
    height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
    display: inline-block;
}

h2,
h3,
a {
	color: #000000;
}

a {
	text-decoration: none;
}

footer a{
    color: #ffffff;
    font-size: 12px;
    text-transform: none;
}

.logo {
    width:30;
	margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}
.logo-footer {
    color: #ffffff;
	margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 33px;
}
img{
    margin-left: 20px;
}
.main-nav {
	margin-top: 5px;

}
h1 {
    margin-left: 0px;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.footer .logo a,
.footer .main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
    font-size: 12px;
    font-weight: 700;
    line-height: 42.73px;
	color: #000;
}

.main-nav a:hover {
    border-bottom: 1px solid red;
}
.footer .main-nav a:hover {
    border-bottom: 1px solid red;
    color:#fff;
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #ffffff;
    background-color: #fff;    
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    border-radius: 0px;
    min-width: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.footer {   
    padding-top: .5em;
	padding-bottom: .5em;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
    background-color: #222222;  
    height:auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    }
.footer .main-nav a {

	text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 42.73px;
	color: grey;
}
.first-block{
    width:200px;
    /* padding: 5px; */
    margin:0 auto;
    position: relative;
    font-family: 'Open Sans', 'Extrabold';
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}
.contact-form{
    width:75%;
    margin:0 auto;
    padding-top: 20px;
    padding-right: 5px;
    position: relative;
    font-family: 'Open Sans';
    color: black;
    text-align: center;
}
.offer-form{
    width:75%;
    margin:0 auto;
    padding-top: 40px;
    padding-right: 5px;
    position: relative;
    font-family: 'Open Sans';
    color: black;
    text-align: center;
    height:100%;
}
.offer{
    padding-top: 15%;
    width:100%;  
    margin-left: 5px;
}
.labels-form{    
    width:45%;
    display: inline-block;    
    margin-left: 5px;
}
.labels-textform{    
    width:91%;
    display: inline-block;    
    margin-left: 5px;
    padding-top: 20px;
}
.labels-control{
    text-align: left;
    font-size: 14px;
}
.textarea-div{
    width: 100%;
}
.offer > h2{      
    text-align: center;  
    flex-direction: column;
	align-items: center;
    color: #ffffff;
    font-family: 'Open Sans', Extrabold;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}
.text > h3{
    position: relative;
    flex-direction: column;
	align-items: center;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
}
.button-1{
    margin-top: 15%;
    width: 100%;
}
label{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.valid{  
    display: none;
}
#invalid-email, #empty-email{
    display: none;
}
.invalid{
    color: #dd3331;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-left: 5%;    
    display: block !important;
}
input, select {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border: 2px solid #f1f1f1;
    background-color: #fff;    
}
input[type=text]:focus {
    border: 2px solid #555;
}
input[type="checkbox"i] {
    margin: 0;
    padding: 0;
}

.maxl{
    margin: 0px;
    width: 55%;
    
  }
  .inline{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
  }
  .inline + .inline{
    margin-left:10px;
  }
  .radio{
    color:#999;
    font-size:15px;
    position:relative;
  }
  .radio span{
    position:relative;
     padding-left:20px;
  }
  .radio span:after{
    content:'';
    width:15px;
    height:15px;
    border:3px solid;
    position:absolute;
    left:0;
    top:1px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .radio input[type="radio"]{
     cursor: pointer; 
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  .radio input[type="radio"]:checked + span{
    color:rgb(78, 80, 79);  
  }
  .radio input[type="radio"]:checked + span:before{
      content:'';
    width:5px;
    height:5px;
    position:absolute;
    background:rgb(173, 0, 0);
    left:5px;
    top:6px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
  }

textarea{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #fff;
    resize: none;
    width: 100%;
}
.flexbox-container{
	display: flex;
    width: 100%;
    border-top: 1px solid black;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    
}

.leftColumn{
	order: 1;
    flex: 1;
    background: url(../img/background-image.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-basis: auto;
    padding: .5rem;
    min-height: 666px;
}

.main{
	order: 1;
	flex: 5;
	background-color: #fff;
    padding: .5rem;
}
.checkbox-container{
    width: 60%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.radiobox-container{
    width: 100%;    
}

.box1, .box2 {
  min-height: 100%;
	padding: 1em;
}
.btn{
    margin-top: 10px;
    width: 10%;
}
.btn-2{
    background-color: #dd3331;
    width: 130px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 42.73px;
    font-family: sans-serif;
}
.container-w3 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: none;
    text-align: left;
    color: gray;
    font-weight: 400;
}
.container-w3 .radio {
    display: block;
    position: relative;
    padding-left: -10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: none;
    text-align: left;
    color: gray;
    font-weight: 400;
}
.checkbox-main{
    min-height:100px;
    width: 91%;
    display: inline-block;
    margin-left: 5px;    
    margin-top: 20px;
}
.checkbox-left{
    display: inline-block;
    width: 69%;
}
.radio-left{
    display: inline-block;
    width:100%;
}
.protected{
    display: inline-block;
    width: 30%;
    color: #21991f;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
}
.container-w3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.container input:checked ~ .checkmark:after {
    display: block;
}

.container-w3:hover input ~ .checkmark {
    background-color: #ccc;
}
.container-w3 input:checked ~ .checkmark {
    background-color: #dd3331;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-w3 input:checked ~ .checkmark:after {
    display: block;
}

.container-w3 .checkmark:after {
    left: 7px;
    top: 6px;
    width: 4px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slideshow-container{
    display: inline-flex;
    width: 100%;
    height: 20%;
    position: relative;
    margin: auto;
}
.text{
    align-items: center;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;    
}


.invalid-input{
    border: 1px solid #dd3331;
    
}

.dot{
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin: 10px 0;
    background-color: none;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 0.5px solid white;
    display: list-item;
    
}

.mySlides{
    width: 95%;
}

.active, .dot:hover{
    background-color: #fff;
}

.dots{
    display: inline-flex;
    width: 5%;
    height: 75%;
    margin-top: 3%;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{ opacity: .4}
    to{opacity:1}
}
@keyframes fade{
    from{ opacity: .4}
    to{opacity:1}
}
/* @Media queries */


/* mobile layout */
@media (max-width: 480px){
	.container{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
  
		width: 100%;
  
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
        -ms-flex-orient: vertical;
        -webkit-orient: vertical;
        orient: vertical;
	}
	.box2{
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;	}
	.box1{
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
}
@media (min-width: 768px) {
    .full-page{
        width: 100%;
        height: 100%;
    }
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
	}
    }
    .footer,
	.main-nav {
		display: flex;
	}
	.footer {
		flex-direction: column;
		align-items: center;
    	.footer{
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
	    }
    }
    .maxl{
        width: 58%;
    }
}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
    .footer {
		flex-direction: row;
		justify-content: space-around;
    }
    .maxl {
        margin: 0px;
        width: 44%;
    }
}

@media (min-width: 1439px) {
	
    .leftColumn {
        width: 45%;
    }
    .flexbox-container{
        width: 100%;
        /* height: 100%; */
    }
    .main{
        width: 55%;
    }
    .contact-form {
		width: 100%; 
    }
    .maxl {
        margin: 0px;
        width: 51%;
    }

}

@media (min-width: 1920px) {
    
    .maxl {
        margin: 0px;
        width: 38%;
    }

}
@media (min-height: 790px){
    /* .fullPage{
        height: 100%;
    } */
    .flexbox-container{
        height:100%;
    }
}
